<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a course</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
  />
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1>Course Platform</h1>
            </a>
            <a
            role="button"
            class="nav-burger"
            aria-label="menu"
            aria-expanded="false"
            >

            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
        </div>
    </nav>

    <div class="container">
        <h1 class="title is-1">Add A Course</h1>
        <form action="/addCourse" method="POST">
            <div class="field">
                <label class="label">Course id</label>
                <div class="control">
                    <input type="text" class="input" name="id"/>
                </div>
            </div>

            <div class="field">
                <label class="label">Course Name</label>
                <div class="control">
                    <input type="text" class="input" name="name"/>
                </div>
            </div>

            <div class="field">
                <label class="label">Course Description</label>
                <div class="control">
                    <input type="text" class="input" name="description"/>
                </div>
            </div>

            <div class="field">
                <label class="label">Course Amount</label>
                <div class="control">
                    <input type="number" class="input" name="amount"/>
                </div>
            </div>
            <button class="button is-success is-medium type=submit">Submit</button>
        </form>
    </div>
</body>
</html>